* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.main {
    overflow-x: hidden;
}


.content {
    margin-left: 250px; /* Match the sidebar width */
    background-color: #f6fbfe;
    min-height: 100vh;
}


input {
    outline: none;
    border: solid 1px #e9ecef;
    border-radius: 5px;
    
}

.add-product-btn {
    background: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.product-table th , .product-table td {
    text-align: center;
    padding: 20px;
}


.product-table td img {
    width: 110px;
    height: 110px;
    object-fit: cover;
 }

 .edit-btn {
    background: #414141;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 20px;
 }

 .delete-btn {
    background: #dc3545;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
 }

 tbody {
    border-style: hidden !important;
    padding: 10px 0px !important;
 }

 thead { 
    background-color: lightgray;
    border-radius: 10px;

 }

 table {

 }

 .col-btn div {
    display:  flex;
    justify-content: space-between;
 }

 button {
    padding: 5px;
    border-radius: 10px;
    border: solid 1px black;
 }