<div class="d-flex">
    <app-sidebar></app-sidebar>
    <main class="content flex-grow-1">
        <!-- Content Navigation Bar -->
        <app-navbar></app-navbar>

        <div class="card p-3 rounded-0 h-100">
            <div class="row">
                <div class="col-lg-6">
                    <p>UserId : {{User.id}}</p>
                    <p>User Status : {{User.username}}</p>
                    <p>User Date : {{User.email}}</p>
                    <p>UserId : {{User.role}} </p>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </main>
</div>