<style>
    :root {
    --primary-color: #54359d;
    --secondary-color: #f1c50e;
    --tertiary-color: #f2f2f2;
    --quaternary-color: #e5e5e5;
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    height: 100vh;
}

html, body {
    overflow-x: hidden;
}


.left-side {
    background-color:  var(--primary-color);
    height: 100vh;
}

.left-side-container {
    margin: 0px 60px;
    margin-top: 20px;
    position: relative;
}

.info .title {
    margin-bottom: 4px; /* Reduce space between title and description */
}

.info .description {

    line-height: 0.5; /* Reduce space between lines */
}


#email {
    color: var(--secondary-color);
    text-decoration: none;
}

p {
    font-size: 14px;
}

i {
    color: white;
}

.icons {
    font-size: 14px;
    position: absolute;
}



.right-side {
    height: 100vh;
}

label {
    font-size: 14px;
}

.right-side-container {
    margin: 0px 40px;
    margin-top: 20px;
}

::placeholder {
    font-size: 14px;
}

input , textarea {
    font-size: 14px;
    background-color: var(--quaternary-color);
    border: solid 0.5px var(--tertiary-color);
    border-radius: 5px;
    outline: none;

}

input[type="submit"] {
    background-color: var(--secondary-color);
    color:  var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

button {
    border: none;
}

.right-side #email
{
    color: var(--primary-color);
    text-decoration: underline;
}
</style>
<div class="row h-100">
    <div class="col-lg-6 left-side ">
        <div class="left-side-container">
            <h1 class="text-white">Get in Touch</h1>
            <p class="text-white mb-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
            <div class="info mb-5">
                <div class="title d-flex flex-row justify-content-start align-items-center">
                    <a href=""><i class="fa-solid fa-envelope fa-2x pe-3"></i></a>
                    <h5 class="text-white text-center align-middle mt-auto mb-auto">CHAT TO US</h5>
                </div>
                <div class="description ps-5 mt-3">
                    <p class="text-white text-opacity-75">Our friendly team is here to help</p>
                    <a class="text-white fw-bold text-decoration-none" href="mailto:hi@ourcompany.com">
                        <p id="email">hi&#64;ourcompany.com</p>
                    </a>
                </div>
            </div>
            <div class="info mb-5">
                <div class="title d-flex flex-row justify-content-start align-items-center">
                    <a href=""><i class="fa-solid fa-location-dot fa-2x pe-4"></i></a>
                    <h5 class="text-white text-center align-middle mt-auto mb-auto">OFFICE</h5>
                </div>
                <div class="description ps-5 mt-3">
                    <p class="text-white text-white text-opacity-75">Come say hello at our office HQ.</p>
                    <a class="text-white fw-bold text-decoration-none" href="">
                        <p id="address">121 Rock Street, 21 Avenue, New York, NY 92103-9000</p>
                    </a>
                </div>
            </div>
            <div class="info mb-5">
                <div class="title d-flex flex-row justify-content-start align-items-center">
                    <a href=""><i class="fa-solid fa-phone fa-2x pe-3"></i></a>
                    <h5 class="text-white text-center align-middle mt-auto mb-auto">PHONE</h5>
                </div>
                <div class="description ps-5 mt-3">
                    <p class="text-white text-opacity-75">Mon-Fri from 8am to 5am</p>
                    <a class="text-white fw-bold text-decoration-none" href="mailto:hi@ourcompany.com">
                        <p id="email">+1(255) 000-000</p>
                    </a>
                </div>
            </div>
            <div class="icons">
                <a href=""><i class="fa-brands fa-facebook  fa-2x pe-3"></i></a>
                <a href=""><i class="fa-brands fa-twitter   fa-2x pe-3"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-2x pe-3"></i></a>
                <a href=""><i class="fa-brands fa-linkedin  fa-2x pe-3"></i></a>
                <a href=""><i class="fa-brands fa-pinterest  fa-2x pe-3"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 right-side">
        <div class="right-side-container">
            <h2 class="pt-2">Contact Us</h2>
            <p>You can reach us anytime via <a href="mailto:hi&#64;ourcompany.com" class="fw-bold" id="email">hi&#64;ourcompany.com</a></p>
            <form action="" class="d-flex flex-column">
                <label for="Name">Name</label>
                <input class="p-2 mb-3" type="text" placeholder="Enter Your Name">
                <label for="Email">Email</label>
                <input class="p-2 mb-3" type="text" placeholder="Enter Your Email">
                <label for="Phone">Phone</label>
                <input class="p-2 mb-3" type="text" placeholder="Enter Your Phone (e.g +212636202710)">
                <label for="Message">How can we help?</label>
                <textarea class="mb-3 p-3"></textarea>
                <button><input type="submit" value="SUBMIT" class="w-100 p-2"></button>
            </form>
        </div>
    </div>
</div>
