body {
    font-family: 'Poppins' , sans-serif;
    background: #a7caff;
}


/* Start Content */ 

.content {
    margin-left: 250px; /* Match the sidebar width */
    background-color: #f6fbfe;
    min-height: 100vh;
}

/* End Contetn */


/* Welcome Card */
.card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

#sale-icon {
    background-color: #fe6868;
    color: white;
    font-size: 20px;
}

#money-icon {
    background-color: #1e8716;
    color: white;
    font-size: 20px;
}

#order-icon {
    background-color: rgb(154, 35, 154);
    color: white;
    font-size: 20px;
}

#item-icon {
    background-color: #d6a95b;
    color: white;
    font-size: 20px;
}





 .category {
    font-size: 12px;
 }

 .recent-orders {
    font-size: 14px !important;
 }

 .card-body {
    overflow: hidden; /* Ensures clean edges */
  }

  .card {
    overflow: hidden;
  }