<div class="d-flex">
    <app-sidebar></app-sidebar>
    <main class="content flex-grow-1">
        <app-navbar></app-navbar>
        <div class="card p-3 rounded-0 h-auto">
            <form class="row d-flex flex-row justify-content-between product-form" id="add-product-form" (ngSubmit)="onSubmit()">
                <div class="col-lg-8 d-flex flex-column justify-content-center gap-3 ms-auto p-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text p-2 border-0 bg-grey" id="basic-addon1">&#64;</span>
                        </div>
                        <input type="text" class="form-control p-2" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="newUser.username" required>
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text p-2 border-0 bg-grey" id="basic-addon1">&#64;</span>
                        </div>
                        <input type="email" class="form-control p-2" name="email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1"  [(ngModel)]="newUser.email" required>
                      </div>

                      <div class="input-group mb-3">
                        <input class="p-2" type="password" name="password" id="price-input" [(ngModel)]="newUser.password" required  class="form-control p-2" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3">
                        <input class="p-2" type="password" name="password2" id="price-input" [(ngModel)]="checkPass" required  class="form-control p-2" placeholder="Confirm Password" aria-label="password" aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3 w-100">
                        <div class="input-group-prepend">
                          <label class="input-group-text py-2 px-5" for="inputGroupSelect01">Role</label>
                        </div>
                        <select class="custom-select px-5 py-2" id="inputGroupSelect01" name="role" [(ngModel)]="newUser.roles[0].id" required>
                            <option selected>Select Role ...</option>
                            <option [ngValue]="1">Admin</option>
                            <option [ngValue]="2">User</option>
                            <option [ngValue]="3">Deliverer</option>
                        </select>
                      </div>

                    <div class="buttons d-flex flex-row justify-content-between gap-1">
                        <input type="reset" name="reset" id="reset-btn" value="Cancel" class="btn btn-danger w-100 p-2" (click)="onReset()" />
                        <input type="submit" name="submit" id="submit-btn" value="Add" class="btn btn-dark w-100 p-2" />
                    </div>


                </div>


                <div class="col-lg-4 image-container d-flex flex-column gap-2 ps-5 pe-5">
                    <p class="text-center fw-bold">Profile Picture</p>
                    <img src="assets/images/avatar.png" class="img-fluid w-75 ms-auto me-auto my-3" alt="" >
                    <button type="button" class="btn btn-dark w-auto px-6 py-2">Upload</button>
                    <div class="input-group d-flex flex-column justify-content-between gap-3">
                          <span class="p-2 text-center fw-bold" id="bio">Bio</span>
                        <textarea class="form-control p-2 w-100" aria-label="With textarea"></textarea>
                      </div>
                </div>
            </form>
        </div>
    </main>
</div>
