body {
    font-family: 'Roboto' , sans-serif;
    background: #a7caff;

}

/* Start SideBar */

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .nav-link {
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    margin: 3px 0px;
}

.sidebar .nav-link i {
    margin-right: 10px ;
    transition: background 0.3s , color 0.3s;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
    background: rgba(83, 182, 244, 0.135);;
    border-radius: 5px;
    color: rgb(83, 182, 244);
}

/* End SideBar */

/* Start Content */ 

.content {
    margin-left: 250px; /* Match the sidebar width */
    background-color: #f6fbfe;
    min-height: 100vh;
}

/* Content Navigation Bar */
.navbar {
    border-bottom: 1px solid #e9ecef;
}

.navbar .form-control {
    width: 100%; /* Adjust search bar width */
}

/* Notifications and User Profile Styles */
.navbar .nav-link {
    color: #333;
    margin-left: 15px;
}

.navbar .nav-link:hover {
    color: #007bff;
}

.navbar .dropdown-menu {
    margin-top: 10px;
}

.navbar .dropdown-item {
    padding: 8px 16px;
}

.navbar .dropdown-item:hover {
    background: #f8f9fa;
}

.navbar .dropdown-item.text-danger:hover {
    color: #dc3545 !important;
    background: rgba(220, 53, 69, 0.1);
}

.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 8px;
}

/* Remove the dropdown arrow */
.nav-link.dropdown-toggle::after {
    display: none !important;
}

.nav-link .icon {
    font-size: 24px;
    color: #414141;
}

/* Profile Image Styles */
.profile-img {
    width: 40px; /* Adjust the size of the image */
    height: 40px; /* Make it square */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image fits well */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow (optional) */
}

/* Hover Effects */
.profile-img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* End Contetn */


/* Welcome Card */
.card {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

#sale-icon {
    background-color: #fe6868;
    color: white;
    font-size: 20px;
}

#money-icon {
    background-color: #1e8716;
    color: white;
    font-size: 20px;
}

#order-icon {
    background-color: rgb(154, 35, 154);
    color: white;
    font-size: 20px;
}

#item-icon {
    background-color: #d6a95b;
    color: white;
    font-size: 20px;
}



/* Placeholder for Charts */
.chart {
    height: 60px;
    background: radial-gradient(circle, #f5f5f5 40%, transparent 60%);
}

.bar-chart {
    background: linear-gradient(to right, #007bff 30%, transparent 100%);
}

