

/* Start SideBar */

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .nav-link {
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    margin: 3px 0px;
}

.sidebar .nav-link i {
    margin-right: 10px ;
    transition: background 0.3s , color 0.3s;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
    background: rgba(83, 182, 244, 0.135);;
    border-radius: 5px;
    color: rgb(83, 182, 244);
}

/* End SideBar */
