<!-- Content Navigation Bar -->
<nav class="navbar navbar-light bg-light shadow-sm mb-4 d-flex align-items-center">
  <div class="container-fluid d-flex align-items-center">
      <!-- Search Bar -->
      <form class="d-flex justify-content-center align-items-center">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">
              Search
          </button>
      </form>
      <!-- Notifications and User Profile -->
      <ul class="navbar-nav ms-auto">
          <li class="nav-item d-flex align-items-center">
              <a class="nav-link" href="">
                  <i class="fa-solid fa-moon icon"></i>
              </a>
              <a class="nav-link" href="">
                  <i class="fa-regular fa-bell icon"></i>
              </a>
              <a class="nav-link" href="profile.html">
                  <img class="profile-img" src="assets/images/profile.png" alt="Profile Image" />
              </a>
          </li>
      </ul>
  </div>
</nav>