<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="Dev" class="org.example.Dev" autowire="byName">
        <property name="age" value="18"></property>
        <constructor-arg name="first_name" value="Anonyme"></constructor-arg>
        <constructor-arg name="last_name" value="Anonyme"></constructor-arg>
        <constructor-arg name="age" value="18"></constructor-arg>
    </bean>
    
    <bean id="computer" class="org.example.Desktop"></bean>


</beans>