* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body , html{
    overflow-x: hidden;

}

/* Start Content */

.content {
    margin-left: 250px; /* Match the sidebar width */
    background-color: #f6fbfe;
    min-height: 100vh;
}

/* End Content */

/* Start Form */ 

#product-image {
    width: 400px;
    height: 400px;
}

.product-form input {
    outline: none;
}

.product-form #reset-btn {
    background: #dc3545;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.product-form #submit-btn {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#bag-icon {
    min-width: 100%;
    text-align: center;
    height: auto;
    font-size: 100px;
    width: 100%; 
    height: 100%;
}

td , th , td p{
    font-size: 14px !important;
 }
 
 
 .user-table td img {
     width: 110px;
     height: 110px;
     object-fit: cover;
  }
 
  .user-table p {
     font-size: 14px;
  }
 
  .edit-btn {
     background: #414141;
     color: white;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     padding: 20px;
  }
 
  .delete-btn {
     background: #dc3545;
     color: white;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     padding: 10px;
  }
 
  tbody {
    border-style: hidden !important;
    padding: 10px 0px !important;
  }
 
  thead { 
     background-color: #dbdbdbbf;
     border-radius: 10px;
 
  }
 
 
 
  table {
     font-size: 14px !important;
     width: 100%;
     border-collapse: separate;
     border-spacing: 0;  /* Remove spacing between table cells */
     border-radius: 10px; /* Rounded corners for the table */
     overflow: hidden; /* Ensure rounded corners are visible */
  }
 
  .col-btn div {
     display:  flex;
     justify-content: space-between;
  }
 
  button {
     padding: 5px;
     border-radius: 10px;
     border: solid 1px black;
  }
 
  #user-profile {
     width: 10%;
     height: 10%;
  }
 
 p {
     
 }
 
 td {
    border-bottom: solid rgb(213, 211, 211) 1px;
 }
 
 th , td p {
     width: 100%;
     white-space: nowrap;  /* Prevents wrapping */
     overflow: hidden;      /* Hides overflow */
     text-overflow: ellipsis; /* Adds "..." if text overflows */
   }

   .status-badge {
      padding: 10px;
   }