<div class="d-flex">
    <app-sidebar></app-sidebar>
    <main class="content flex-grow-1">
        <!-- Content Navigation Bar -->
        <app-navbar></app-navbar>

        <div class="card p-3 rounded-0 h-auto">
            <form #editForm="ngForm" (ngSubmit)="onSubmit()" class="row d-flex flex-row justify-content-between product-form">
                <div class="col-lg-4 image-container d-flex flex-column flex-start">
                    <p class="text-center fw-bold">Product Image</p>
                    <div class="d-flex flex-column gap-2">
                        <img [src]="product.imageUrl" class="img-fluid w-75 ms-auto me-auto" alt="" id="product-image">
                        <button type="button" class="img-btn btn btn-dark m-auto p-2">Upload</button>
                    </div>
                </div>
        
                <div class="col-lg-8 d-flex flex-column justify-content-center gap-1 ms-auto p-1">
                    <input type="text" name="id" id="id-input" [(ngModel)]="product.productId" style="display: none;">
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control p-2" name="name" placeholder="Product Name" 
                               aria-label="Product name" aria-describedby="basic-addon1" 
                               [(ngModel)]="product.name" required>
                    </div>
                    
                    <div class="input-group mb-3">
                        <textarea class="form-control p-2" name="description" placeholder="Description" 
                                  aria-label="Description" aria-describedby="basic-addon1" 
                                  [(ngModel)]="product.description" rows="3"></textarea>
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2 border-0 bg-grey" id="basic-addon1">$</span>
                        </div>
                        <input type="number" class="form-control p-2 no-spinner" name="price" placeholder="Price" 
                               aria-label="Price" aria-describedby="basic-addon1" [(ngModel)]="product.price">
                    </div>
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control p-2" name="category" placeholder="Category" 
                               aria-label="Category" aria-describedby="basic-addon1" >
                    </div>
                    
                    <div class="input-group mb-3">
                        <input type="number" class="form-control p-2 no-spinner" name="stock" placeholder="Stock Quantity" 
                               aria-label="Stock" aria-describedby="basic-addon1">
                    </div>
        
                    <div class="buttons d-flex flex-row justify-content-between gap-1">
                        <input type="reset" name="reset" id="reset-btn" value="Cancel" class="btn btn-danger w-100 p-2"/>
                        <input type="submit" name="submit" id="submit-btn" value="Update" class="btn btn-dark w-100 p-2" />
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>