.title {
    text-align: center;
    color: red;
}

.check-attributes , .create-elements , .products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(36, 124, 217);
    border-radius: 8px;

}

#my-Paragraph {
    text-align: center;
}

