/* src/components/ProductCollection.css */
.btn-ajouter {
    inset: 0;
    z-index: 1;
    border-radius: inherit;
    background-color: inherit;
    box-shadow: inherit;
    transition: opacity 0s ease;
    background-color: #E90A4c;
    color: white;
    border-radius: 5px;
    padding: 10px 55px;
    cursor: pointer;
  }
  
  .btn-ajouter:hover {
    opacity: 80%;
  }
  
  .tracking-wider {
    color: #E90A4c;
    font-weight: bold;
  }
  
  .categorie {
    color: #E90A4c;
  }
  
  .stock-status {
    color: #85b951;
    font-size: 16px;
    font-weight: bold;
  }